.btn {
	@include flex(center,center,nowrap,inline-flex);
	vertical-align: middle;
	border: 1px solid transparent;
	outline: none;
	text-align: center;
	cursor: pointer;
	@include transition;
	&--blue {
		color: $white;
		background: $blueML;
		border-color: $blueML;
		&:hover {
			background: darken($blueML, 15%);
		}
	}
	&--square {
		padding: 10px;
		font-size: 20px;
		font-weight: 100;
		border-radius: 5px;
	}
}