@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');

.taC {
	text-align: center;
}
 
.taR {
	text-align: right;
}

.taL {
	text-align: left;
}

.taJ {
	text-align: justify;
}