@import '../../scss/baseSass';

.itemsResults {
  background-color: $white;
}

.itemResult {
  display: grid;
  padding: 15px;
  column-gap: 15px;
  position: relative;
  grid-template-columns: 160px auto 200px;
  @media #{$mediaMobile}{
  	display: block;
  }
  &::after {
    width: calc(100% - 30px);
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    content: "";
    position: absolute;
    pointer-events: none;
    border-bottom: 1px solid $grayBg2;
  }
  &__image {
    width: 160px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media #{$mediaMobile} {
      width: 100%;
      display: block;
    }
    img {
      display: block;
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
  &__info {
    color: $blackTxt;
    &_price {
      font-size: 24px;
      font-weight: 400;
      line-height: 1.25;
    }
    &_description {
      font-size: 20px;
      font-weight: 300;
      line-height: 1.3;
    }
  }
  &__city {
    color: $grayTxt;
    font-size: 13px;
  }
}